/* src/components/Rating/Rating.css */
.rating {
    display: flex;
    align-items: center;
  }
  
  .rating span {
    color: #E50000; /* Default star color, can be overridden by props */
    margin-right: 0.1rem;
    font-size: 1.5rem;
  }
  
  .rating span:last-child {
    margin-right: 0;
  }
  
  .rating span svg {
    transition: color 0.2s;
  }
  