.aboutWrapper{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.aboutSectionWrapper{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.11);
    box-sizing: border-box;
    padding: 1rem 0;

}

.aboutSectionWrapper .image{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 0;
    box-sizing: border-box;

}

.text{
    width: 60%;
    box-sizing: border-box;
    padding: 0 4.5rem;
}

.text p{
    color: gray;
    line-height: 35px;
}

.text button{
    all: unset;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
    color: white;
    width: 150px;
    height: 40px;
    border-radius: 4px;
margin-top: 1rem;
}