.heroWrapper{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 80vh;

}

.hero{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    gap: 1rem;
}